/* Переменные */
:root {
    --backgrond-color:#ffffff;
    --nav-link-color:#212121;
    --focus-color: #2196F3;
    --logo-color: #000000;
    --logo-part-color: #2196F3;
    --text-color:#757575;

    --footer-background-color:#2F303A;
    --physical-address-color:#ffffff;
    /* --web-address-color: */


}

/* основные стили */
body {
    background-color: var(--backgrond-color);
    color: var(--text-color);
    font-family: Roboto,sans-serif;
    /* identical to box height, or 188% */
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}
/* Список навигации */
.nav-list{
    list-style: none;
    
}

/* Лого перваая часть + откл*/
.nav-logo,
.nav-logo:focus,
.nav-logo:hover {
    color: var(--logo-part-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* Лого вторая часть */
.logo-part,
.logo-part:focus,
.logo-part:hover {
    color:var(--logo-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}



/* Ссылки навигации */
.nav-link {
    color: var(--nav-link-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* Подсветка текущей страницы и наведения */
.current,
.nav-link:hover,
.nav-link:focus {
    color: var(--focus-color);
}


/* Оформление списка контактов */
.contacts {
    list-style: none;
}

/* офрмление контактов */
.contacts-item {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-item:hover, .contacts-item:focus  {
    color: var(--focus-color);
}

/* footer style */

/* меняем цвет заливки, тк лого белый и текст белый */
.footer-section {
    background-color:#2F303A
}
.footer-section .logo-part {
    color:#ffffff
}
.physical-address {
    color:#ffffff
}

.web-address{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.web-address:hover, .web-address:focus {
    color:var(--focus-color);
}

